:root {
    --primary: #000000;
    --secondary: #00000070;
    --bg: #ffffff;
    --red: #f11359;
    --yellow: #ffbf3b;
    --green: #17b336;
    --blue: #2741ff;

        --bg-img: url(../imgs/sadgrl/apple.gif);
    --bg: hwb(0 100% 0%);
}

img{width: 100%;}

html{
    background-repeat: repeat;
    background-image: url(../imgs/bg/toro-pattern-22.gif);
}

.red{color:var(--red);}
.yellow{color:var(--yellow);}
.green{color:var(--green);}
.blue{color:var(--blue);}


.bold{font-weight: 500;}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1200px;
}

p{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.1rem;
    padding-bottom: 8px;
}

i::before{
    font-size: 12px;
        line-height: 1.1rem;
        padding-right: 6px;
}

#nav i::before{
    font-size: 12px;
        line-height: 1.1rem;
        padding-right: 0px;
}

a p{
    font-family: "Space Mono", monospace;
    padding-bottom: 0px;
}

.name{
    font-weight: 600;
}

h2{
    font-family: "Space Mono", monospace;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1rem;
}

h3{
    font-family: "Space Mono", monospace;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.1rem;
}


a{
    text-decoration: none;
    color: currentColor;
}

.content{
    width: 100%;
    height: 75vh;
    border-radius: 0px 16px 16px 16px;
    border: solid 1px var(--primary);
    position: relative;
    overflow: hidden;
    background: var(--bg);
}



.stream-video{
    border-bottom: solid 1px var(--primary);

}

.stream-img{
    border-radius: 900px;
    width: 50px;
      object-fit: cover;
    height: 50px;
}
.stream-name-participants{
    display: flex;
    justify-content: space-between;
      align-items: center;

    padding-bottom: 20px;
}
.stream-name-participants < *{
    display: flex;
    justify-content: space-between;
}
.stream-info{
    padding: 20px;
}

.stream-subheader{
flex-grow: 1;
padding-left: 12px;
}
.stream-description{
    max-width: 600px;
}



#nav a:first-child{
    border-radius: 16px 0px 0px 0px;
    border: solid 1px var(--primary);
    border-bottom: none;
    background: var(--red);
    font-weight: 700;
    color: white;
}

#nav a{
    float: left;
    padding: 8px 60px 8px 12px;
    border-top: solid 1px var(--primary);
    border-bottom: none;  
    /* background: var(--yellow); */

}
#nav a:last-child{
    border-radius: 0px 16px 0px 0px;
    border: solid 1px var(--primary);
    border-bottom: none;
    /* background: var(--blue); */

}

.header{
    border-bottom: solid 1px var(--primary);
    padding: 8px;
}


#chat{
    position: relative; 
    height: 100%;
    overflow-y: scroll;
    border-left: solid 1px var(--primary);
    box-sizing: border-box;
}
#chat p{    padding-bottom: 0px;
}

.date-line p{
    font-family: "Space Mono", monospace;
    color: var(--secondary);
    padding-top: 8px;
}

.bottom{
    position: absolute;
    bottom: 0;
    width:100%;
}
.messages{
    padding: 8px;
    overflow-y: hidden;
    display: flex;
    flex-direction:column;
    border-bottom: solid 1px var(--primary);
}

.composer{
    padding: 8px;
}

.clear{
    float: none;
    clear: both;
}

.left-col, .right-col{
    float: left;
    position: relative;
}

.left-col{
    width: 60%;
}
.right-col{
    width: 40%;
}





.music{
    padding: 8px;
float: right;
background: var(--bg);
}




@media screen and (max-width: 991.98px) {
    
    
}



@media screen and (pointer:none),
(pointer:coarse) and (min-width: 0px) and (max-width: 1200px) {
    
    
}

/* @media screen and (min-width: 0px) and (max-width: 767px) {

}


@media only screen and (pointer:none),
(pointer:coarse) and (orientation: landscape) {} */







/* CRT FILTER (remove <div class="crt"></div> from head to get rid of filter */

.crt::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(#12101000 50%, #0000001a 50%), linear-gradient(90deg, #ff000008, #00ff0005, #0000ff08);
    z-index: 400;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none
}

@keyframes flicker {
    0% {
        opacity: .27861
    }
    
    5% {
        opacity: .34769
    }
    
    10% {
        opacity: .23604
    }
    
    15% {
        opacity: .10626
    }
    
    20% {
        opacity: .18128
    }
    
    25% {
        opacity: .10626
    }
    
    30% {
        opacity: .18128
    }
    
    35% {
        opacity: .23604
    }
}

.crt::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #12101005;
    opacity: 0;
    z-index: 400;
    pointer-events: none;
    animation: flicker .2s infinite
}